* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}

a {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.sectionInner {
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

input {
  outline: none;
  border: 1px solid #858585;
  background-clip: padding-box;
}

._borderNone {
  border: none !important;
}

._opacity {
  opacity: 1 !important;
}

._marked {
  color: #00549B;
}