@media (max-width: 1170px) {
  .sectionInner {
    padding: 0 1.25rem;
  }

  .sectionVideo {
    max-height: 40.875rem;
    padding: 1.25rem 0;
  }
  .sectionVideo .sectionVideo_media iframe {
    width: 39.375rem;
    height: 28.125rem;
  }
}
@media (max-width: 1000px) {
  .sectionVideo .sectionVideo_media iframe {
    width: 31.25rem;
    height: 21.875rem;
  }
}
@media (max-width: 900px) {
  .sectionFirstTable .firstTable th {
    padding-left: 0.3125rem;
  }
  .sectionFirstTable .firstTable td {
    padding: 0.3125rem;
    font-size: 1rem;
  }

  .sectionSecondTable .secondTable th {
    padding-left: 0.3125rem;
  }
  .sectionSecondTable .secondTable td {
    padding: 0.3125rem;
    font-size: 1rem;
  }

  .sectionVideo .sectionVideo_list .textBetweenLists {
    font-size: 1rem;
  }
  .sectionVideo .sectionVideo_list .list {
    font-size: 0.9375rem;
  }
  .sectionVideo .sectionVideo_media iframe {
    width: 24.6875rem;
    height: 17.1875rem;
  }
}
@media (max-width: 768px) {
  .sectionSearchForm .calculator2019 .fields li label {
    padding: 0.625rem;
  }
  .sectionSearchForm .calculator2019 .fields li label::before {
    left: 1.0625rem;
  }

  .sectionSearchForm .calculator2019 .fields li label span.title,
.sectionSearchForm .calculator2019 .fields li label select,
.sectionSearchForm .calculator2019 .fields li label input {
    font-size: 0.9375rem;
  }

  .sectionFooter .sectionFooter_firstLine .footerImg {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .sectionSearchForm .calculator2019 .fields li {
    flex-direction: column;
  }
  .sectionSearchForm .calculator2019 .fields li .lastInput {
    width: 100%;
  }
  .sectionSearchForm .calculator2019 .fields li label {
    width: 100%;
  }
  .sectionSearchForm .calculator2019 .fields li label select {
    width: 100%;
  }
  .sectionSearchForm .t-datepicker {
    flex-direction: column;
  }
  .sectionSearchForm .t-check-in,
.sectionSearchForm .t-check-out {
    margin-bottom: 0.625rem;
  }
}