.sectionFirstTable {
  margin-top: 2.5rem;
}
.sectionFirstTable .firstTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.25rem;
}
.sectionFirstTable .firstTable th, .sectionFirstTable .firstTable td {
  border: 1px solid #CCC;
}
.sectionFirstTable .firstTable th {
  max-width: 18.3125rem;
  height: 5.625rem;
  color: #00549B;
  padding-right: 1.25rem;
  padding-left: 9.375rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.sectionFirstTable .firstTable td {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 7.9375rem;
  height: 5.625rem;
  color: #5A5A5A;
  text-align: center;
  padding: 0.625rem;
}
.sectionFirstTable .firstTable td img {
  width: 100%;
  object-fit: cover;
}
.sectionFirstTable .textAfterTable {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #5A5A5A;
  text-align: center;
  margin-bottom: 2.5rem;
}