.sectionAccordeon {
  margin-top: 2.5rem;
}
.sectionAccordeon .title {
  text-align: center;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #00549B;
  margin-bottom: 0.625rem;
}
.sectionAccordeon .subtitle {
  text-align: center;
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #5A5A5A;
  margin-bottom: 2.5rem;
}
.sectionAccordeon .accordeonTitle {
  text-align: center;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: #00549B;
  margin-bottom: 1.25rem;
}
.sectionAccordeon .accordeonItem {
  position: relative;
  margin-bottom: 0.625rem;
}
.sectionAccordeon .accordeonItem_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.sectionAccordeon .accordeonItem_input:checked ~ .accordeonItem_trigger::after {
  content: "-";
}
.sectionAccordeon .accordeonItem_input:checked ~ .accordeonItem_content {
  display: flex;
}
.sectionAccordeon .accordeonItem_trigger {
  position: relative;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  display: block;
  padding: 0.625rem;
  padding-left: 9.375rem;
  background-color: #00549B;
  color: #fff;
  width: 100%;
  min-height: 2.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sectionAccordeon .accordeonItem_trigger::after {
  display: block;
  color: #fff;
  content: "+";
  position: absolute;
  left: 1.25rem;
}
.sectionAccordeon .accordeonItem_content {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1.25rem;
  display: none;
  color: #5A5A5A;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}