.sectionSearchForm {
  height: 1165px;
  width: 100%;
  background: url(/img/png/sectionSearchBg.jpg) 0 0 no-repeat;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
}
.sectionSearchForm::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #c6c6c6;
  background: linear-gradient(180deg, rgba(198, 198, 198, 0.7) 0%, white 60%, white 100%);
}
.sectionSearchForm .sectionInner {
  position: relative;
  z-index: 10;
  padding-top: 3.75rem;
}
.sectionSearchForm_Logo {
  width: 18.4375rem;
  height: 5.8125rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  background: url(/img/svg/Logo.svg) 50% 50% no-repeat;
  background-size: cover;
}
.sectionSearchForm_title {
  font-family: "almoni", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  color: #00549B;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_subtitle {
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_text {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_form {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}
.sectionSearchForm_form .firstLineForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding: 0 0.625rem;
}
.sectionSearchForm_form .secondLineForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  padding: 0 0.625rem;
}
.sectionSearchForm_form .checkboxSport {
  margin-left: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.sectionSearchForm_form .labelSport {
  margin-left: 1.25rem;
  color: #00549B;
}
.sectionSearchForm_form .destination,
.sectionSearchForm_form .departure,
.sectionSearchForm_form .arrival {
  appearance: none;
  width: 22.8125rem;
  height: 2.5rem;
  padding: 0.625rem 1.25rem;
  background: #fff url(/img/svg/inputArrow.svg) 0.625rem no-repeat;
  color: #00559bB2;
}
.sectionSearchForm_form-personalInformation .personalInformationHeader {
  height: 3.5625rem;
  background-color: #00549B;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1.25rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.sectionSearchForm_form-personalInformation .personalInformationMain {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 16.5rem;
  background-color: #FAFAFA;
  padding: 0 1.25rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
}
.sectionSearchForm_form-personalInformation .personalInformationMain .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.sectionSearchForm_form-personalInformation .personalInformationMain .container select,
.sectionSearchForm_form-personalInformation .personalInformationMain .container input {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 13rem;
  color: #888888;
  margin-top: 0.3125rem;
}
.sectionSearchForm_form-personalInformation .personalInformationMain .container #lastSelect {
  width: 41.6875rem;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_form-personalInformation .personalInformationFooter {
  height: 3.5625rem;
  background-color: #EEEEEE;
  color: #00549B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1.25rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.sectionSearchForm_form .btn {
  display: block;
  margin: 2.5rem auto 0;
  height: 3.125rem;
  width: 12.75rem;
  text-align: center;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  background-color: #00549B;
}