.sectionFirstTable {
  margin-top: 2.5rem;
}
.sectionFirstTable #relative {
  overflow-x: scroll;
}
.sectionFirstTable #wrapper {
  margin-right: 8.125rem;
}
.sectionFirstTable .firstTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.25rem;
}
.sectionFirstTable .firstTable th, .sectionFirstTable .firstTable td {
  border: 1px solid #CCC;
}
.sectionFirstTable .firstTable th {
  width: 9.375rem;
  height: 12.5rem;
  color: #00549B;
  padding-right: 1.25rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.sectionFirstTable .firstTable td {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 7.9375rem;
  height: 12.5rem;
  color: #5A5A5A;
  text-align: center;
}
.sectionFirstTable .firstTable td img {
  width: 100%;
  object-fit: cover;
}
.sectionFirstTable .textAfterTable {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #5A5A5A;
  text-align: center;
  margin-bottom: 2.5rem;
}