@charset "UTF-8";
.sectionSearchForm {
  min-height: 72.8125rem;
  width: 100%;
  background: url(/img/png/sectionSearchBg.jpg) 50% 50% no-repeat;
  background-size: auto 100%;
  position: relative;
  overflow: hidden;
  /* New Picker */
}
.sectionSearchForm::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #c6c6c6;
  background: linear-gradient(180deg, rgba(198, 198, 198, 0.7) 0%, white 60%, white 100%);
}
.sectionSearchForm .sectionInner {
  position: relative;
  z-index: 10;
  padding-top: 3.75rem;
}
.sectionSearchForm_Logo {
  width: 18.4375rem;
  height: 5.8125rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  background: url(/img/svg/Logo.svg) 50% 50% no-repeat;
  background-size: cover;
}
.sectionSearchForm_title {
  font-family: "almoni", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  color: #00549B;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_subtitle {
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm_text {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sectionSearchForm .calculator2019 a:link, .sectionSearchForm .calculator2019 a:visited, .sectionSearchForm .calculator2019 a:hover {
  color: #000;
  text-decoration: none;
}
.sectionSearchForm .calculator2019 a img {
  display: block;
  margin: 0 auto;
}
.sectionSearchForm .buy a p {
  direction: rtl;
}
.sectionSearchForm .calculator2019 input[type=text],
.sectionSearchForm .calculator2019 input[type=number],
.sectionSearchForm .calculator2019 select {
  border: 1px #ececec solid;
  border-radius: 3px;
  background: #fff;
  color: #000;
  font-family: Arial;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  -webkit-appearance: none;
}
.sectionSearchForm .calculator2019 .dates {
  display: flex;
  flex-wrap: wrap;
}
.sectionSearchForm .calculator2019 .dates label {
  width: 12.5rem;
  padding: 0.3125rem 0 0.3125rem 0;
}
.sectionSearchForm .calculator2019 .dates label span.title {
  display: block;
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  margin-right: 0.625rem;
  color: #00549B;
}
.sectionSearchForm .calculator2019 .dates label input[type=text] {
  width: 100%;
}
.sectionSearchForm .calculator2019 .dates label.checkbox {
  width: 100%;
  display: flex;
}
.sectionSearchForm .calculator2019 .dates label.etgari,
.sectionSearchForm .calculator2019 .dates label.ski {
  display: none;
}
.sectionSearchForm .calculator2019 .fields {
  margin: 0 0 1.25rem 0;
  padding: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
}
.sectionSearchForm .calculator2019 .fields li {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
  background: #fafafa;
  border-radius: 3px;
  min-height: 16.5rem;
}
.sectionSearchForm .calculator2019 .fields li .num {
  height: 3.5625rem;
  background-color: #00549B;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1.25rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
}
.sectionSearchForm .calculator2019 .fields li .num a {
  width: 0.9375rem;
  height: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ef1616;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  margin: 0 0 0 0.3125rem;
  color: #fff;
  position: relative;
}
.sectionSearchForm .calculator2019 .fields li .lastInput {
  width: 41.6875rem;
}
.sectionSearchForm .calculator2019 .fields li label {
  width: 20%;
  padding: 0.3125rem;
  position: relative;
  padding: 1.25rem;
}
.sectionSearchForm .calculator2019 .fields li label .lastInput {
  width: 41.6875rem;
}
.sectionSearchForm .calculator2019 .fields li label span.title {
  display: block;
  color: #5A5A5A;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.sectionSearchForm .calculator2019 .fields li label div.error {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  color: red;
}
.sectionSearchForm .calculator2019 .fields li label select,
.sectionSearchForm .calculator2019 .fields li label input {
  width: 100%;
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #888888;
  height: 2.5rem;
}
.sectionSearchForm .calculator2019 .fields li label:before {
  content: "▾";
  position: absolute;
  font-size: 0.75rem;
  left: 2.1875rem;
  top: calc(50% + 5px);
}
.sectionSearchForm .calculator2019 .fields li label.age:before {
  display: none;
}
.sectionSearchForm .calculator2019 #addperson {
  cursor: pointer;
  height: 3.5625rem;
  background-color: #EEEEEE;
  color: #00549B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1.25rem;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  width: 100%;
  border: none;
}
.sectionSearchForm .calculator2019 #addperson:hover {
  color: #fff;
  background: #069;
  border-color: #069;
}
.sectionSearchForm .calculator2019 #calculate {
  display: block;
  margin: 2.5rem auto 0;
  height: 3.125rem;
  width: 12.75rem;
  text-align: center;
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  background-color: #00549B;
  border: none;
  cursor: pointer;
}
.sectionSearchForm .calculator2019 .results {
  display: none;
  margin: 0 0 20px 0;
}
.sectionSearchForm .t-datepicker {
  display: flex;
}
.sectionSearchForm .t-check-in, .sectionSearchForm .t-check-out, .sectionSearchForm .t-datepicker {
  float: none;
}
.sectionSearchForm .t-check-in, .sectionSearchForm .t-check-out {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  border: 1px #00549B solid;
  border-radius: 3px;
  padding: 0 10px;
  background-color: #fff;
  width: 22.8125rem;
  height: 2.5rem;
  color: #00559bB2;
}
.sectionSearchForm .t-dates {
  padding: 0;
  display: flex;
  align-items: center;
}
.sectionSearchForm .t-datepicker-days .t-table-wrap {
  margin-left: 0;
  margin-right: 2%;
}
.sectionSearchForm .t-check-in .t-date-info-title, .sectionSearchForm .t-check-out .t-date-info-title {
  width: auto !important;
  line-height: inherit;
  padding: 0 !important;
  position: static;
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}
.sectionSearchForm .t-next, .sectionSearchForm .t-prev, .sectionSearchForm .t-table-condensed td, .sectionSearchForm .t-table-condensed th {
  border: 0 !important;
  width: auto !important;
  padding: 10px !important;
}
.sectionSearchForm .t-table-condensed {
  border: 0 !important;
}
.sectionSearchForm .t-table-condensed th:first-child,
.sectionSearchForm .t-table-condensed td:first-child {
  text-align: center !important;
  font-size: inherit !important;
  background: inherit !important;
  color: inherit !important;
  font-weight: normal !important;
}
.sectionSearchForm .t-table-condensed tr th:first-child {
  font-weight: bold;
}
.sectionSearchForm .t-table-condensed tbody td, .sectionSearchForm .t-table-condensed tbody td:first-child {
  background: #efefef !important;
  border: 1px #fff solid !important;
}
.sectionSearchForm .t-table-condensed tbody td:hover,
.sectionSearchForm .t-table-condensed tbody .t-range,
.sectionSearchForm .t-table-condensed tbody .t-range:first-child,
.sectionSearchForm .t-table-condensed tbody .t-start,
.sectionSearchForm .t-table-condensed tbody .t-start:first-child,
.sectionSearchForm .t-table-condensed tbody .t-end,
.sectionSearchForm .t-table-condensed tbody .t-hover-day,
.sectionSearchForm .t-table-condensed tbody .t-hover-day:first-child,
.sectionSearchForm .t-table-condensed tbody .t-range-limit,
.sectionSearchForm .t-table-condensed tbody .t-range-limit:first-child {
  background: #069 !important;
  color: #fff !important;
}
.sectionSearchForm .t-table-condensed tbody .t-today,
.sectionSearchForm .t-today .t-hover-day-content {
  background: orange !important;
  color: #fff !important;
}
.sectionSearchForm .t-today:after, .sectionSearchForm .t-today:hover:after {
  border-top-color: orange;
}
.sectionSearchForm .t-month-check-in,
.sectionSearchForm .t-month-check-out {
  margin: 0 5px;
}
.sectionSearchForm .t-check-in {
  margin: 0 0 0 10px;
}
.sectionSearchForm .t-input {
  display: none;
}
.sectionSearchForm .calculator2019 .tablewrap ul {
  display: none;
}
.sectionSearchForm input[type=checkbox] {
  width: 1.25rem;
  height: 1.25rem;
}
.sectionSearchForm .tablewrap-inner {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 1.25rem;
}
.sectionSearchForm .tablewrap-inner table {
  width: 100%;
  border-collapse: collapse;
}
.sectionSearchForm .tablewrap-inner table th, .sectionSearchForm .tablewrap-inner table td {
  border: 1px solid #CCC;
  height: 3.125rem;
  text-align: center;
  color: #00549B;
}
.sectionSearchForm .tablewrap-inner table th {
  width: 12.5rem;
}
.sectionSearchForm .tablewrap-inner table tr:last-child th, .sectionSearchForm .tablewrap-inner table tr:last-child td {
  color: #FFF;
  background-color: #00549B;
}