.sectionFooter {
  margin: 2.5rem 0;
}
.sectionFooter .sectionInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionFooter .sectionFooter_firstLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.875rem;
  width: 100%;
}
.sectionFooter .sectionFooter_firstLine .footerImg {
  margin-bottom: 2.5rem;
  width: 36.4375rem;
  height: 5.5rem;
  object-fit: cover;
}
.sectionFooter .sectionFooter_firstLine .footerText {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #5A5A5A;
}
.sectionFooter .sectionFooter_secondLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sectionFooter .sectionFooter_secondLine .realmediaLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionFooter .sectionFooter_secondLine .realmediaLogo .logoImg {
  width: 5.625rem;
  height: 1.25rem;
  object-fit: cover;
}
.sectionFooter .sectionFooter_secondLine .realmediaLogo .logoText {
  font-family: "almoni", sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: #00549B;
}
.sectionFooter .sectionFooter_secondLine .realmediaLogo .logoText::after {
  content: "";
  border: none;
  border-left: 1px solid #00549B;
  margin: 0 0.625rem;
}
.sectionFooter .sectionFooter_secondLine .copyright {
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #00549B;
}