.sectionVideo {
  height: 40.875rem;
  background: #FAFAFA url(/img/png/sectionVideoBg.png) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
.sectionVideo::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(250, 250, 250, 0.75);
}
.sectionVideo .sectionInner {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sectionVideo .content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5625rem;
}
.sectionVideo .title {
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: #00549B;
  margin-bottom: 0.1875rem;
  margin-top: 2.5rem;
}
.sectionVideo .sectionVideo_list .list {
  list-style: none;
  font-family: "almoni", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #5A5A5A;
  margin-bottom: 0.625rem;
}
.sectionVideo .sectionVideo_list .list:last-child {
  margin: 0;
}
.sectionVideo .sectionVideo_list .textBetweenLists {
  font-family: "almoni", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #00549B;
  margin-bottom: 0.625rem;
}
.sectionVideo .sectionVideo_media iframe {
  width: 45.5625rem;
  height: 32.875rem;
}