.sectionAccordeon .accordeonItem {
  position: relative;
  margin-bottom: 20px;
}
.sectionAccordeon .accordeonItem_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.sectionAccordeon .accordeonItem_input:checked ~ .accordeonItem_content {
  display: block;
}
.sectionAccordeon .accordeonItem_trigger {
  display: block;
  padding: 20px;
  border: 1px solid black;
}
.sectionAccordeon .accordeonItem_content {
  padding: 20px;
  border: 1px solid black;
  border-top: 0;
  display: none;
}