@import 'mixins.scss';
.sectionSearchForm{

    min-height: toRem(1165);
    width: 100%;
    background: url(/img/png/sectionSearchBg.jpg) 0 0 no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgb(198,198,198);
        background: linear-gradient(180deg, rgba(198,198,198,0.7) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    }

    .sectionInner{
        position: relative;
        z-index: 10;
        padding-top: toRem(60);
    }
    &_Logo{
        width: toRem(295);
        height: toRem(93);
        margin: 0 auto;
        margin-bottom: toRem(60);
        background: url(/img/svg/Logo.svg) 50% 50% no-repeat;
        background-size: cover;
    }
    &_title{
        @include AlmoniBlack(42);
        color: #00549B;
        text-align: center;
        margin-bottom: toRem(20)
    }
    &_subtitle{
        @include AlmoniBold(32);
        color: #000;
        text-align: center;
        margin-bottom: toRem(20)
    }
    &_text{
        @include AlmoniRegular(22);
        color: #000;
        text-align: center;
        margin-bottom: toRem(20)
    }
    
    
    
    
    
    &_form{
        
        @include AlmoniRegular(20);

        
        .firstLineForm{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: toRem(20);
            padding: 0 toRem(10);
        }
        .secondLineForm{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: toRem(40);
            padding: 0 toRem(10);
        }
        .checkboxSport{
            margin-left: toRem(10);
            width: toRem(20);
            height: toRem(20);
        }
        .labelSport{
            margin-left: toRem(20);
            color: #00549B;
        }
        .destination,
        .departure,
        .arrival{
            appearance: none;
            width: toRem(365);
            height: toRem(40);
            padding: toRem(10) toRem(20);
            background: #fff url(/img/svg/inputArrow.svg) toRem(10) no-repeat;
            color:#00559bB2;
        }
        // .departure{
        //     position: relative;
        //     &::before{
        //         font-size: 16px;
        //         display: block;
        //         content: "123";
        //         position: absolute;
        //         left: 50%;
        //         top: calc(50% - 8px);
        //         color: red;
        //     }
        //     &:focus {
        //         &::before{
        //             display: none;
        //         }
        //     }
        // }
        // .arrival{
        //     // &::-webkit-calendar-picker-indicator { display:none;}
        // }
        &-personalInformation{
            // height: toRem(330);
            .personalInformationHeader{
                height: toRem(57);
                background-color: #00549B;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-right: toRem(20);
                @include AlmoniBold(32);

            }
            .personalInformationMain{
                margin-bottom: toRem(16);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                min-height: toRem(264);
                background-color: #FAFAFA;
                padding: 0 toRem(20);
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    @include AlmoniBold(20);
                    // height: toRem(68);
                    select,
                    input{
                        @include AlmoniRegular(20);
                        height: toRem(40);
                        width: toRem(208);
                        color: #888888;
                        margin-top: toRem(5);

                    }
                    #lastSelect{
                        width: toRem(667);
                        margin-bottom: toRem(20);
                    }
                }
            }
            .personalInformationFooter{
                height: toRem(57);
                background-color: #EEEEEE;
                color: #00549B;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-right: toRem(20);
                @include AlmoniBold(20);
            }
        }
        .btn{
            display: block;
            margin: toRem(40) auto 0;
            height: toRem(50);
            width: toRem(204);
            text-align: center;
            @include AlmoniBold(20);
            color: #fff;
            background-color: #00549B;
        }
    }
}