@import 'mixins.scss';
@media (min-width: 360px) {
    .sectionSearchForm{
        &_Logo{
            width: toRem(265);
            height: toRem(93);
        }
        &_title{
            font-size: toRem(42);
        }
        &_subtitle{
            font-size: toRem(32);
            
        }
        &_text{
            font-size: toRem(22);
            
        }
        &_form{
            font-size: toRem(20);
            .firstLineForm,
            .secondLineForm{

                padding: 0;
            }
            .checkboxSport{
                width: toRem(20);
                height: toRem(20);
                padding: 0;
            }
            .destination,
            .departure,
            .arrival{
                // width: toRem(320);
                width: 100%;
            }
            
            &-personalInformation{
                
                .personalInformationMain{
                    label{
                        margin-top: toRem(10);
                    }
                    .container{
                        width: 100%;
                        select,
                        input{
                            // width: toRem(290);
                            width: 100%;
                        }
                        #lastSelect{
                            width: 100%;
                            // width: toRem(290);
                        }
                    }
                }
            }
        }
    }

    .sectionVideo{

        
        .title{
            font-size: toRem(28);
    
        }
        .sectionVideo_list{
    
            .list{
                font-size: toRem(16);
            }
            .textBetweenLists{
                font-size: toRem(22);
            }
        }
        .sectionVideo_media{
            iframe{
            width: toRem(332);
            height: toRem(240);
            }   
        }
    }


    .sectionAccordeon{  
        .title{
            font-size: toRem(22);
        }
        .subtitle{
            font-size: toRem(18);
        }
        .accordeonTitle{
            font-size: toRem(28);
        }
    
        .accordeon{
            &Item{
                &_trigger{
                    font-size: toRem(22);
                }
                &_content{
                    font-size: toRem(20);
                }
            }
        }
    }

    .sectionFooter{
        .sectionFooter_firstLine{
            
            .footerImg{
                width: toRem(335);
            }
            .footerText{
                font-size: toRem(16);
            }
        }
        .sectionFooter_secondLine{
            .copyright{
                font-Size: toRem(18);
            }
        }
        
    }

}


@media (min-width: 576px) {
    .sectionVideo{
        .title{
            font-size: toRem(28);
    
        }
        .sectionVideo_list{
            .list{
                font-size: toRem(20);
            }
            .textBetweenLists{
                font-size: toRem(22);
            }
        }
        .sectionVideo_media{
            width: 100%;
            iframe{
            width: 100%;
            height: toRem(350);
            }   
        }
    }

    .sectionFooter{
        .sectionFooter_firstLine{
            .footerImg{
                width: 90%;
            }
            
        }
    }

        // .sectionFirstTable{
        //     #wrapper{
        //         margin-right:toRem(180);    
        //     }
        //     .firstTable{
        //         td{
        //             width: toRem(500);
        //             height: toRem(180);
        //         }
        //         th{
        //             width: toRem(200);
        //             height: toRem(180);
        //         }
        //     }
            
        // }


}