@import 'mixins.scss';
.sectionSecondTable{
    #relative{

        overflow-x: scroll;
    }
    #wrapper{
        margin-right:toRem(130);    
    }
    margin-top:toRem(40);
    .caption{
        @include AlmoniBold(22);
        color: #00549B;
        text-align: center;
        margin-bottom: toRem(40);
    }
    .secondTable{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: toRem(20);
        
        th, td {
            border: 1px solid #CCC;
        }
        tr{
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11){
                th{
                    color: #fff;
                    background-color: #00549B;
                }
            }
        }
        th{
            width: toRem(150);
            height: toRem(390);
            color: #00549B;
            padding-right: toRem(20);
            // padding-left: toRem(150);
            @include AlmoniBold(20);
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            
           
        }
        td{
            @include AlmoniRegular(20);
            max-width: toRem(127);
            height: toRem(390);
            color: #5A5A5A;
            text-align: center;
            img{
                width: 100%;
                // height: 100%;
                object-fit: cover
            }
            // padding: 0 toRem(10);
            
        }
    }
    .textAfterTable{
        @include AlmoniBold(18);
        color: #00549B;
        text-align: center;
        margin-bottom: toRem(20);
    }
    .markedTextAfterTable{
        @include AlmoniBold(12);
        color: #F20D0D;
        text-align: center;
        margin-bottom: toRem(40);
    }
}