@import 'mixins.scss';
@media (max-width: 1170px) {
    .sectionInner{
        padding: 0 toRem(20);
    }
    .sectionVideo{
        max-height: toRem(654);
        padding: toRem(20) 0 ;
        .sectionVideo_media{

            iframe{
                width: toRem(630);
                height: toRem(450);
            }
        } 
    } 
}
@media (max-width: 1000px) {
    .sectionVideo{

        .sectionVideo_media{

            iframe{
                width: toRem(500);
                height: toRem(350);
            }
        } 
    } 
    
}
@media (max-width: 860px) {

    .sectionVideo{

        .sectionVideo_list{
            .textBetweenLists{
                font-size: toRem(16);
            }
            .list{
                font-size: toRem(15);
            }
        }
    }

    .sectionVideo{

        .sectionVideo_media{

            iframe{
                width: toRem(395);
                height: toRem(275);
            }
        } 
    } 
    
}
